.chess_table {
    display: flex;
    justify-content: center;
    left: 5%;
    top: 5%;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    width: 90%;
    height: 10%;
}

.close_x {
    font-family: sans-serif;
    font-size: 40px;
    color: lightgray;
}

.close_x:hover {
    color: white;
    cursor: pointer;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    max-height: 90vh;
    max-width: 90vh;
    border: 10px solid rgb(75, 59, 53);
    border-radius: 5px;
    margin-right: 2vw;
}

.promote {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: blue;
}

.flipped {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.w {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(185, 169, 163);
    text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.6);
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(105, 99, 93);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.highlight {
    background-color: orange;
    text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.6);
}

.w:hover {
    text-shadow: 1px 1px 10px rgba(10, 10, 10, 0.6);
}

.b:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.white_piece {
    color: rgb(200, 200, 200);
}

.black_piece {
    color: rgb(50, 50, 50);
}

.white_piece:hover {
    cursor: grab;
}

.black_piece:hover {
    cursor: grab;
}

.white_piece:active {
    cursor: grabbing;
}

.black_piece:active {
    cursor: grabbing;
}

.player {
    display: flex;
    justify-content: left;
    padding: 10px;
    font-size: 26px;
    height: 26px;
}

.current_player {
    display: flex;
    justify-content: left;
    padding: 10px;
    text-shadow: 0px 0px 10px orange;
    font-size: 26px;
    height: 26px;
}

.captured_pieces {
    display: flex;
    height: 17px;
    padding-left: 10px;
}

.chat {
    height: 80px;
    overflow: auto;
    
}

.send_button {
    background-color: rgb(135, 129, 123);
    color: lightgray;
    height: 20px;
    width: 50px;
}

.send_button_mobile {
    background-color: rgb(135, 129, 123);
    color: lightgray;
    height: 90%;
    font-size: 6vw;
    padding: 1vw;
}

.bigger {
    font-size: 5vw;
}

.video {
    position: fixed;
    width: 90vw;
    height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.suggest_login {
    margin-top: 5px;
    padding: 10px;
    padding-top: 5px;
    width: 80%;
    height: 80px;
    border-radius: 10px;
    font-size: 18px;
    color: gray;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 1);
}

.dismiss_circle {
    position: absolute;
    transform: translate(-20px, -16px);
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: red;
    color: lightgray;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 1);
}

.dismiss_circle:hover {
    color: white;
    cursor: pointer;
}
