.chess_table {
    display: flex;
    justify-content: center;
    left: 5%;
    top: 5%;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    width: 90%;
    height: 10%;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    max-height: 90vh;
    max-width: 90vh;
    border: 10px solid rgb(75, 59, 53);
    border-radius: 5px;
    margin-right: 2vw;
}

.flipped {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.w {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(185, 169, 163);
    text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.6);
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(105, 99, 93);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.w:hover {
    text-shadow: 1px 1px 10px rgba(10, 10, 10, 0.6);
}

.b:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.white_piece {
    color: rgb(200, 200, 200);
}

.black_piece {
    color: rgb(50, 50, 50);
}

.white_piece:hover {
    cursor: grab;
}

.black_piece:hover {
    cursor: grab;
}

.white_piece:active {
    cursor: grabbing;
}

.black_piece:active {
    cursor: grabbing;
}

