.mobile_container {
    
    width: 100%;
    height: 100%;
}

.side_mobile {
    width: 29vw;
    overflow: hidden;
    display: inline-block;
}

.mobile_button {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    font-size: 45px;
    font-family: sans-serif;
    background-color: orange;
    margin-top: 40px;
    border-radius: 5px;
    width: 90vw;
    text-decoration: none;
}

.full_screen {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.smaller_text_mobile {
    font-size: 3vw;
}

.play_area_mobile {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 140vw;
    border-right: 0.5vw solid gray;
    border-bottom: 0.5vw solid gray;
    border-top: 0.5vw solid lightgray;
    border-left: 0.5vw solid lightgray;
}

.cell_mobile {
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    background-color: orange;
}

.tetris_stats_mobile {
    float: right;
    color: lightgray;
    font-size: 5vw;
    width: 28vw;
    font-family: "CopperPlate";
    background-color: black;
    border-right: 0.5vw solid gray;
    border-bottom: 0.5vw solid gray;
    border-top: 0.5vw solid lightgray;
    border-left: 0.5vw solid lightgray;
    overflow: hidden;
}

.display_preview_mobile {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(3.5vw, 0);
    height: 28vw;
    width: 28vw;
}

.toggle_button_mobile {
    height: 7vw;
    width: 7vw;
    font-size: 2.5vw;
    background: darkgray;
    border-right: 0.5vw solid gray;
    border-bottom: 0.5vw solid gray;
    border-top: 0.5vw solid lightgray;
    border-left: 0.5vw solid lightgray;
    margin: 2vw;
}

.toggle_button_mobile:active {
    border-left: 0.5vw solid gray;
    border-top: 0.5vw solid gray;
    border-bottom: 0.5vw solid lightgray;
    border-right: 0.5vw solid lightgray;
}

.start_button_mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7vw;
    font-size: 8vw;
    background-color: black;
    color: lightgray;
    border-right: 0.5vw solid gray;
    border-bottom: 0.5vw solid gray;
    border-top: 0.5vw solid lightgray;
    border-left: 0.5vw solid lightgray;
}

.start_button_mobile:active {
    border-left: 0.5vw solid gray;
    border-top: 0.5vw solid gray;
    border-bottom: 0.5vw solid lightgray;
    border-right: 0.5vw solid lightgray;
}

.button_on_mobile {
    color: orange;
    text-shadow: 0px 0px 2vw orange;
}

.empty_mobile {
    background-color: black;
    width: 7vw;
    height: 7vw;
}

.tetris_control_button {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 8vw;
    color: lightgray;
    border: none;
}

.tetris_control_button:active {
    background-color: lightgray;
}

.tetris_control_button:focus {
    border: none;
    outline: none;
}

.i_mobile {
    background-color: red;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
    border-top: 2px solid rgb(255, 126, 126);
    border-left: 2px solid rgb(255, 126, 126);
}

.a_mobile {
    background-color: lightblue;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid rgb(132, 167, 179);
    border-bottom: 2px solid rgb(132, 167, 179);
    border-top: 2px solid rgb(201, 240, 253);
    border-left: 2px solid rgb(201, 240, 253);
}

.t_mobile {
    background-color: darkgray;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 0.5vw solid gray;
    border-bottom: 0.5vw solid gray;
    border-top: 0.5vw solid lightgray;
    border-left: 0.5vw solid lightgray;
}

.l_mobile {
    background-color: yellow;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid rgb(206, 206, 0);
    border-bottom: 2px solid rgb(206, 206, 0);
    border-top: 2px solid lightyellow;
    border-left: 2px solid lightyellow;
}

.j_mobile {
    background-color: purple;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid rgb(88, 43, 88);
    border-bottom: 2px solid rgb(88, 43, 88);
    border-top: 2px solid rgb(187, 0, 187);
    border-left: 2px solid rgb(187, 0, 187);
}

.s_mobile {
    background-color: green;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid darkgreen;
    border-bottom: 2px solid darkgreen;
    border-top: 2px solid rgb(0, 153, 0);
    border-left: 2px solid rgb(0, 153, 0);
}

.z_mobile {
    background-color: blue;
    width: 7vw;
    height: 7vw;
    box-sizing: border-box;
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-top: 2px solid rgb(95, 95, 255);
    border-left: 2px solid rgb(95, 95, 255);
}
