.battle_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.play_bar {
    z-index: 0;
    position: relative;
    width: 250px;
    height: 40vh;
    min-height: 300px;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    overflow: hidden;
    border: 1px solid orange;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(100, 100, 100);
    background-color: rgb(230, 230, 230);
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 1);
}

.challenge_box_header {
    background-color: orange;
    font-size: 150%;
    padding: 20px;
    border-bottom: 1px solid gray;
    color: gray;
}

.challenge_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    overflow: hidden;
    color: black;
     
}

.time_button {
    padding: 3px;
    height: 30px;  
    font-size: 15px;
    background-color: rgb(135, 129, 123);
    color: lightgray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray; 
    margin-left: 5px;
}

.challenge {
    margin-top: 6px;
}

.time_button:hover {
    cursor: pointer;
}

.time_button:active {
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray; 
}

.time_button:focus {
    outline: none;
}

.current_time_button {
    padding: 3px;
    height: 30px; 
    font-size: 15px;
    color: lightgray;
    background: orange;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    margin-left: 5px; 
}

.current_time_button:focus {
    outline: none; 
}

.smaller_heading {
    color: rgb(135, 129, 123);
    padding: 3px;
    font-size: 20px;
    font-family: sans-serif;
}

.small_heading {
    background-color: rgb(135, 129, 123);
    color: lightgray;
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif;
}

.player_bar {
    font-size: 15px;
    padding: 5px;
    color: black;
    font-family: sans-serif;
    width: 80%;
    background-color: orange;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 20px;
    margin: 5px;
}

.players_waiting {
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(135, 129, 123);
    min-height: 50px;
}

.hint {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 1);
}

.player_pic {
    float: left;
    font-size: 40px;
    padding: 5px;
}

.tour_button {
    height: 45px;
    font-size: 20px;
    padding: 10px;
    background-color: orange;
    color: white;
    margin: 5px;
    border-radius: 3px;
}

.tour_button:hover {
    background-color: darkorange;
    cursor: pointer;
}

.battle_text {
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
}

.enter_email {
    width: 80%;
    height: 30px;
    font-size: 18px;
    margin: 5px;
}

