.board_controls {
    font-size: 15px;
    color: rgb(40, 40, 40);
    width: 220px;
    height: 60vw;
    max-height: 90vh;
    background-color: rgb(185, 169, 163);
    border: 10px solid rgb(75, 59, 53);
    border-radius: 5px;
    font-family: sans-serif;
    overflow: hidden;
}

.controls_heading {
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    font-size: 150%;
    justify-content: center;
    background-color: rgb(135, 129, 123);
    color: lightgray;
}

.seq_post_button {
    margin: 10px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: lightgray;
    border-radius: 4px;
}

.seq_active_button {
    margin: 10px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: orange;
    border-radius: 4px;
}

.seq_active_button:hover {
    background-color: darkorange;
}

.board_control_button {
    height: 45px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(135, 129, 123);
    color: lightgray;
    margin: 5px;
}

.board_control_button:hover {
    cursor: pointer;
}

.record_controls {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(135, 129, 123);
}

.record_button {
    padding: 10px;
    font-size: 17px;
    color: lightgray;
}

.record_button:hover {
    color: white;
    cursor: pointer;
}

.title_field {
    width: 90%;
    background-color: lightgray;
}

.active_move {
    background: orange;
}

.inactive_move_light {
    background: lightgray
}

.inactive_move_dark {
    background: rgb(220, 220, 220);
}

.active_move:hover {
    cursor: pointer;
}

.inactive_move_light:hover {
    cursor: pointer;
}

.inactive_move_dark:hover {
    cursor: pointer;
}

.level_button {
    padding: 3px;
    width: 30px;
    height: 30px;  
    font-size: 20px;
    background-color: rgb(135, 129, 123);
    color: lightgray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray; 
    margin: 5px;
}

.level_button:hover {
    cursor: pointer;
}

.level_button:focus {
    outline: none;
}

.current_level_button {
    padding: 3px;
    width: 30px;
    height: 30px; 
    font-size: 20px;
    color: lightgray;
    background: orange;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    margin: 5px; 
}

.current_level_button:focus {
    outline: none; 
}

.outer_list {
    size: 100%;
    overflow: hidden;
}

.moves_list {
    display: flex;
    flex-direction: column;
    height: 25vmin;
    overflow-y: auto;
}

.not:hover {
    cursor: unset;
}


.type_button {
    padding: 3px;
    width: 90%;
    height: 30px;  
    font-size: 15px;
    background-color: rgb(135, 129, 123);
    color: lightgray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray; 
    margin: 5px;
}

.type_button:hover {
    cursor: pointer;
}

.type_button:focus {
    outline: none;
}

.current_type_button {
    padding: 3px;
    width: 90%;
    height: 30px; 
    font-size: 15px;
    color: lightgray;
    background: orange;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    margin: 5px; 
}

.current_type_button:focus {
    outline: none; 
}

.colors {
    margin: 10px;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}

.active_player {
    text-shadow: 0px 0px 30px orange;
    font-size: 50px;
}

.game_alert {
    padding: 10px;
    font-size: 30px;
    color: red;
}


