.play_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 600px;
    background-color: green;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.game_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 610px;
    width: 600px;
    
    align-items: center;
}

.tetris_stats {
    float: right;
    color: white;
    font-size: 30px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    
    background-color: black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.tetris_button {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    background-color: black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.tetris_button:active {
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.tetris_box {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.empty {
    background-color: black;
    width: 30px;
    height: 30px;
}

.i {
    background-color: red;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.a {
    background-color: lightblue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.t {
    background-color: darkgray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.l {
    background-color: yellow;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.j {
    background-color: purple;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.s {
    background-color: green;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.z {
    background-color: blue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.enter_name {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.smaller_text {
    font-size: 20px;
}