.play_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 600px;
    background-color: green;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.game_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 610px;
    width: 600px;
    
    align-items: center;
}

.tetris_stats {
    float: right;
    color: lightgray;
    font-size: 30px;
    width: 250px;
    margin-top: 15px;
    margin-left: 30px;
    font-family: "CopperPlate";
    background-color: black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.tetris_button {
    font-size: 20px;
    margin-top: 30px;
    font-family: "CopperPlate";
    color: lightgray;
    background-color: black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.tetris_button:active {
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.tetris_box {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.empty {
    background-color: black;
    width: 30px;
    height: 30px;
}

/* .i {
    background-color: red;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.a {
    background-color: lightblue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.t {
    background-color: darkgray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.l {
    background-color: yellow;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.j {
    background-color: purple;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.s {
    background-color: green;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.z {
    background-color: blue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
} */

.enter_name {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.smaller_text {
    font-size: 20px;
}

.preview_box {
    margin-top: 0;
}

.display_preview {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    margin: 10px;
    height: 120px;
    width: 120px;
}

.toggle_button {
    height: 30px;
    width: 30px;
    background: darkgray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    margin: 10px;
}

.toggle_button:active {
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.button_on {
    color: orange;
    text-shadow: 0px 0px 10px orange;
}

.i {
    background-color: red;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
    border-top: 2px solid rgb(255, 126, 126);
    border-left: 2px solid rgb(255, 126, 126);
}

.a {
    background-color: lightblue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid rgb(132, 167, 179);
    border-bottom: 2px solid rgb(132, 167, 179);
    border-top: 2px solid rgb(201, 240, 253);
    border-left: 2px solid rgb(201, 240, 253);
}

.t {
    background-color: darkgray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.l {
    background-color: yellow;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid rgb(206, 206, 0);
    border-bottom: 2px solid rgb(206, 206, 0);
    border-top: 2px solid lightyellow;
    border-left: 2px solid lightyellow;
}

.j {
    background-color: purple;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid rgb(88, 43, 88);
    border-bottom: 2px solid rgb(88, 43, 88);
    border-top: 2px solid rgb(187, 0, 187);
    border-left: 2px solid rgb(187, 0, 187);
}

.s {
    background-color: green;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid darkgreen;
    border-bottom: 2px solid darkgreen;
    border-top: 2px solid rgb(0, 153, 0);
    border-left: 2px solid rgb(0, 153, 0);
}

.z {
    background-color: blue;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-top: 2px solid rgb(95, 95, 255);
    border-left: 2px solid rgb(95, 95, 255);
}